/* _content/Dashboard/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-6enrixglmm] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-6enrixglmm] {
  color: #0077cc;
}

.btn-primary[b-6enrixglmm] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-6enrixglmm], .nav-pills .show > .nav-link[b-6enrixglmm] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-6enrixglmm] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-6enrixglmm] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-6enrixglmm] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-6enrixglmm] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-6enrixglmm] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

/* _content/Dashboard/Pages/Shared/_LayoutRegister.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root[b-rigz74clki] {
    --verde_claro: #89B486;
    --verde_principal: #2C5629;
    --verde_oscuro: #0C270A;
    --gris_oscuro: #4E4F5D;
    --gris_claro: #F1F2F7;
    --amarillo: #F9B235;
    --rojo: #C75A4D;
}

a.navbar-brand[b-rigz74clki] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-rigz74clki] {
  color: #0077cc;
}

.btn-primary[b-rigz74clki] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-rigz74clki], .nav-pills .show > .nav-link[b-rigz74clki] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-rigz74clki] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-rigz74clki] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-rigz74clki] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-rigz74clki] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-rigz74clki] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.bg-claro[b-rigz74clki] {
    background-color: #89B486;
}


