:root {
    --verde_claro: #89b486;
    --verde_principal: #2c5629;
    --verde_oscuro: #0c270a;
    --verde_hover: #afdfab;
    --verde_texto: #407b46;
    --gris_oscuro: #4e4f5d;
    --gris_claro: #f1f2f7;
    --gris_select: #e4e7f4;
    --gris_medio: #a3a4ad;
    --amarillo: #f9b235;
    --rojo: #c75a4d;
    --cust: #bcbec7;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu-container {
    align-content: center;
    overflow: hidden;
    align-self: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
}

    .menu-container img {
        height: 100%;
        width: 100%;
    }

.bg-welcome {
    background-image: url("/images/Welcome.png");
    background-size: cover;
    background-position: bottom;
    height: 300px; 
    display: flex;
    align-items: center;
    justify-content: flex-start !important; 
    padding-left: 1rem;
}

.text-left {
    text-align: left !important;
}


.menu-container .row {
    padding-right: 0px;
    padding-left: 0px;
}

.menu-container p {
    text-align: justify;
}

.box-home {
    width: 100%;
}

.section {
    margin-top: 50px;
    margin-bottom: 20px;
}


.uniform-img {
    width: 50px;
    height: 150px; 
    max-height: 200px; 
    object-fit: cover; 
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 50px; 
    display: flex;
    flex-direction: column;
}

    .card:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

.card-body {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1; 
}

.card-img-top {
    width:50px; 
    height:50px; 
    /*object-fit: cover; */
    /*max-height: 100px;*/ 
}



.card.h-100 {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}


.row.d-flex.align-items-stretch {
    display: flex;
    flex-wrap: wrap;
}

.submundos-img {
    width: 300px;
    height: 900px; 
    object-fit: cover;
}

.section h3 { /*Titulos*/
    font-size: 2.5em; 
}

/*vinculos inicio*/
a {
    color: #2c5629;
    text-decoration: none;
}

    a:hover {
        color: #89b486;;
    }
 

ol {
    list-style: none; 
    padding: 0; 
}

