:root {
    --verde_claro: #89b486;
    --verde_principal: #2c5629;
    --verde_oscuro: #0c270a;
    --verde_hover: #afdfab;
    --verde_texto: #407b46;
    --gris_oscuro: #4e4f5d;
    --gris_claro: #f1f2f7;
    --gris_select: #e4e7f4;
    --gris_medio: #a3a4ad;
    --amarillo: #f9b235;
    --rojo: #c75a4d;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  /*box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;*/
}

.btn-custom {
  border-radius: 5px;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 15px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Escrito por Pablo */
.container {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 400px;
  padding: 40px 20px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.form {
  margin-bottom: 30px;
}

.btn-iniciar {
  background-color: var(--verde_claro);
  color: #ffffff;
  width: 100%;
}

.btn-registrarse {
  background-color: #f8f9fa;
  color: #89b486;
  width: 100%;
}

a.btn-text {
    color: var(--verde_texto) !important;
}

.redirect {
  margin-top: 20px;
  text-align: center;
}

.validation-error {
  color: #dc3545;
}

.form-control.is-invalid,
.form-control:focus.is-invalid {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

p {
  text-align: center;
}

.dialog-container {
  background-color: transparent;
  border: none;
  top: 40%;
  position: relative;
  transform: translate(0, -50%);
}

.text-action {
  color: var(--gris_oscuro);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.text-field {
  color: var(--gris_oscuro);
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.anchor-text {
  color: var(--verde_claro);
  text-decoration: none;
}
.anchor-text:hover {
  color: var(--verde_oscuro);
  text-decoration: underline;
}

.anchor-forgot {
  color: var(--gris_oscuro);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
