:root {
    --verde_claro: #89B486;
    --verde_principal: #2C5629;
    --verde_oscuro: #0C270A;
    --gris_oscuro: #4E4F5D;
    --gris_claro: #F1F2F7;
    --amarillo: #F9B235;
    --rojo: #C75A4D;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
