@page
@model Dashboard.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "Shared/_Layout.cshtml";
}

<div>
    <iframe width="600" height="450" src="https://lookerstudio.google.com/embed/reporting/a2f255d2-6d15-496a-a3ed-bbb3907414a5/page/2Tq0D" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
</div>