@page
@model Dashboard.Pages.InicioModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="container">
    <div class="row">
        <div class="welcome-container">
            <img src="~/images/Welcome.png" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            Data
        </div>
        <div class="col">
            Info Awak
        </div>
    </div>
</div>