@page "/login"
@model Dashboard.Pages.LoginModel
@{
    Layout = "~/Pages/Shared/_LayoutRegister.cshtml";
    ViewData["Title"] = "Inicio de Sesión";
}

@using System.Security.Principal

<div class="dialog-container container">
    <h2 class="text-action">Inicio de Sesión</h2>
    <div class="bg-[#f1f2f7] flex flex-col items-center justify-around gap-x-10 rounded-md py-3 hover:bg-[#e4e7f4] md:flex-row">
        <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">
            <img src="images/Microsoft365.png" class="gap-x h-auto w-40" />
            <a class="nav-link text-dark btn-text" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Iniciar sesión con SSO</a>
        </a>
    </div>
    <form method="post" class="pt-5">
            <div class="form">
                <label class="text-field" asp-for="Correo">Correo</label>
                <input asp-for="Correo" class="form-control" required />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form">
                <label class="text-field" asp-for="Nombre">Nombre (solo requerido primera vez)</label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <button type="submit" class="btn-custom btn-iniciar">Saltar OAUTH (temporal)</button>
        </form>

        @*<div class="redirect">
            <p class="text-field">¿Eres nuevo? <a class="anchor-text" asp-page="./Register">Regístrate</a></p>
            <p><a class="anchor-forgot" asp-page="./RecuperarContraseña">He olvidado mi contraseña</a></p>
        </div>*@
</div>

