@page "/signout"
@model Dashboard.Pages.SignOutModel
@{
    Layout = "~/Pages/Shared/_LayoutRegister.cshtml";
    ViewData["Title"] = "Inicio de Sesión";
}

@using System.Security.Principal

<div class="dialog-container container">
    <h2 class="text-action">Cerrando la sesión</h2>
    <h3 class="text-action">Espere unos momentos...</h3>
</div>

