
@page "/tailwind"
@model TestTailwindModel
@{
    Layout = "~/Pages/Shared/_LayoutRegister.cshtml";
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p class="text-verde-claro font-roboto h-80 bg-blue-950 text-lg">asasas</p>
</div>